/* Modal */

.arco-modal {
  background-color: var(--c-bg-base);
}

/* Divider */

.arco-divider-horizontal {
  border-color: var(--c-border);
}

/* Card */

.arco-card {
  background-color: var(--c-bg-base);
  border-color: var(--c-border);
}

.arco-card-header {
  border-bottom-color: var(--c-border);
}

/* Table */

.arco-table-th {
  background-color: var(--c-bg-base);
}

.arco-table-td {
  background-color: var(--c-bg-base);
  border-bottom-color: var(--c-border);
}

.arco-table-border .arco-table-tr .arco-table-th {
  border-bottom-color: var(--c-border);
}

.arco-table-border .arco-table-container {
  border-top-color: var(--c-border);
  border-left-color: var(--c-border);
}

.arco-table-border:not(.arco-table-border-cell) .arco-table-container {
  border-right-color: var(--c-border);
}

/* Input */

.arco-input-wrapper {
  background-color: transparent;
  border-color: var(--c-border);
}

.arco-input-wrapper:focus-within {
  background-color: var(--c-bg-active);
  border-color: var(--c-primary-light);
}

.arco-input-wrapper:hover {
  background-color: var(--c-bg-active);
}

/* Select */

.arco-select-view-single {
  background-color: transparent;
  border-color: var(--c-border);
}

.arco-select-view-single:hover {
  background-color: var(--c-bg-active);
}

.arco-select-dropdown {
  background-color: var(--c-bg-base);
  border-color: var(--c-border);
}

.arco-select-dropdown .arco-select-option {
  background-color: var(--c-bg-base);
}

.arco-select-dropdown .arco-select-option-active, .arco-select-dropdown .arco-select-option:not(.arco-select-dropdown .arco-select-option-disabled):hover {
  background-color: var(--c-bg-active);
}

/* Dropdown */
.arco-dropdown {
  background-color: var(--c-bg-base);
  border-color: var(--c-border);
}

.arco-dropdown-option-active, .arco-dropdown-option:not(.arco-dropdown-option-disabled):hover {
  background-color: var(--c-bg-active);
}

/* Drawer */
.arco-drawer {
  background-color: var(--c-bg-base);
}

.arco-drawer-header {
  border-bottom-color: var(--c-border);
}

.arco-drawer-footer {
  border-top-color: var(--c-border);
}
