/* Modal */

.arco-modal {
  background-color: var(--c-bg-base);
}

/* Divider */

.arco-divider-horizontal {
  border-color: var(--c-border);
}

/* Card */

.arco-card {
  background-color: var(--c-bg-base);
  border-color: var(--c-border);
}

.arco-card-header {
  border-bottom-color: var(--c-border);
}

/* Table */

.arco-table-th {
  background-color: var(--c-bg-base);
}

.arco-table-td {
  background-color: var(--c-bg-base);
  border-bottom-color: var(--c-border);
}

.arco-table-border .arco-table-tr .arco-table-th {
  border-bottom-color: var(--c-border);
}

.arco-table-border .arco-table-container {
  border-top-color: var(--c-border);
  border-left-color: var(--c-border);
}

.arco-table-border:not(.arco-table-border-cell) .arco-table-container {
  border-right-color: var(--c-border);
}

.arco-table-hover:not(.arco-table-dragging) .arco-table-tr:not(.arco-table-tr-empty):not(.arco-table-tr-summary):hover .arco-table-td:not(.arco-table-col-fixed-left):not(.arco-table-col-fixed-right) {
  background-color: var(--c-bg-active);
}


/* Input */

.arco-input-wrapper {
  background-color: transparent;
  border-color: var(--c-border);
}

.arco-input-wrapper:focus-within {
  background-color: var(--c-bg-active);
  border-color: var(--c-primary-light);
}

.arco-input-wrapper:hover {
  background-color: var(--c-bg-active);
}

.arco-input-wrapper.arco-input-disabled {
  color: rgb(107 114 128 / 0.5);
  background-color: rgb(107 114 128 / 0.05);
}

.arco-input-wrapper.arco-input-disabled:hover {
  color: rgb(107 114 128 / 0.5);
  background-color: rgb(107 114 128 / 0.05);
}

/* Select */

.arco-select-view-single {
  background-color: transparent;
  border-color: var(--c-border);
}

.arco-select-view-single:hover {
  background-color: var(--c-bg-active);
}

.arco-select-dropdown {
  background-color: var(--c-bg-base);
  border-color: var(--c-border);
}

.arco-select-dropdown .arco-select-option {
  background-color: var(--c-bg-base);
}

.arco-select-dropdown .arco-select-option-active, .arco-select-dropdown .arco-select-option:not(.arco-select-dropdown .arco-select-option-disabled):hover {
  background-color: var(--c-bg-active);
}

.arco-select-view-multiple {
  background-color: transparent;
  border-color: var(--c-border);
}

.arco-select-view-multiple:hover  {
  background-color: var(--c-bg-active);
}

.arco-select-view-multiple:focus-within, .arco-select-view-multiple.arco-select-view-focus {
  background-color: var(--c-bg-active);
  border-color: var(--c-primary-light);
}

.arco-select-view-multiple .arco-select-view-tag {
  background-color: transparent;
  border-color: var(--c-border);
}

/* Textarea */

.arco-textarea-wrapper {
  background-color: transparent;
  border-color: var(--c-border);
}

.arco-textarea-wrapper:hover {
  background-color: var(--c-bg-active);
}

.arco-textarea-wrapper:focus-within {
  background-color: var(--c-bg-active);
  border-color: var(--c-primary-light);
}

/* Dropdown */
.arco-dropdown {
  background-color: var(--c-bg-base);
  border-color: var(--c-border);
}

.arco-dropdown-option-active, .arco-dropdown-option:not(.arco-dropdown-option-disabled):hover {
  background-color: var(--c-bg-active);
}

.arco-dropdown-option {
  color: var(--c-text-secondary);
}

/* Drawer */
.arco-drawer {
  background-color: var(--c-bg-base);
}

.arco-drawer-header {
  border-bottom-color: var(--c-border);
}

.arco-drawer-footer {
  border-top-color: var(--c-border);
}

/* Menu */

.arco-menu-light .arco-menu-item:hover, .arco-menu-light .arco-menu-group-title:hover, .arco-menu-light .arco-menu-pop-header:hover, .arco-menu-light .arco-menu-inline-header:hover {
  color: var(--c-text-secondary);
  background-color: var(--c-bg-active);
}

.arco-menu-light.arco-menu-horizontal .arco-menu-item.arco-menu-selected:hover, .arco-menu-light.arco-menu-horizontal .arco-menu-group-title.arco-menu-selected:hover, .arco-menu-light.arco-menu-horizontal .arco-menu-pop-header.arco-menu-selected:hover, .arco-menu-light.arco-menu-horizontal .arco-menu-inline-header.arco-menu-selected:hover {
  color: var(--c-primary);
  background-color: var(--c-bg-active);
}

.arco-menu-dark .arco-menu-item:hover, .arco-menu-dark .arco-menu-group-title:hover, .arco-menu-dark .arco-menu-pop-header:hover, .arco-menu-dark .arco-menu-inline-header:hover {
  color: var(--c-text-secondary);
  background-color: var(--c-bg-active);
}

.arco-menu-dark.arco-menu-horizontal .arco-menu-item.arco-menu-selected:hover, .arco-menu-dark.arco-menu-horizontal .arco-menu-group-title.arco-menu-selected:hover, .arco-menu-dark.arco-menu-horizontal .arco-menu-pop-header.arco-menu-selected:hover, .arco-menu-dark.arco-menu-horizontal .arco-menu-inline-header.arco-menu-selected:hover {
  color: white;
  background-color: var(--c-bg-active);
}

.arco-menu-light .arco-menu-item, .arco-menu-light .arco-menu-group-title, .arco-menu-light .arco-menu-pop-header, .arco-menu-light .arco-menu-inline-header {
  color: var(--c-text-secondary);
}

.arco-menu-dark .arco-menu-item, .arco-menu-dark .arco-menu-group-title, .arco-menu-dark .arco-menu-pop-header, .arco-menu-dark .arco-menu-inline-header {
  color: var(--c-text-secondary);
}

/* Pagination */

.arco-pagination-item-active, .arco-pagination-item-active:hover {
  background-color: transparent;
  color: var(--c-text-base);
  border: 1px solid var(--c-border);
}

.arco-pagination-item:hover {
  background-color: var(--c-bg-active);
}

/* Form */

.arco-form-item-status-error .arco-select-view:not(.arco-select-view-disabled):hover, .arco-form-item-status-error .arco-input-tag:not(.arco-input-tag-disabled):hover {
  background-color: var(--c-bg-active);
  border: 1px var(--c-danger) solid;
}

.arco-form-item-status-error .arco-select-view:not(.arco-select-view-disabled), .arco-form-item-status-error .arco-input-tag:not(.arco-input-tag-disabled) {
  background-color: transparent;
  border: 1px var(--c-danger) solid;
}

.arco-form-item-status-error .arco-input-wrapper:not(.arco-input-disabled), .arco-form-item-status-error .arco-textarea-wrapper:not(.arco-textarea-disabled) {
  background-color: transparent;
  border: 1px var(--c-danger) solid;
}

.arco-form-item-status-error .arco-input-wrapper:not(.arco-input-disabled):hover, .arco-form-item-status-error .arco-textarea-wrapper:not(.arco-textarea-disabled):hover {
  background-color: var(--c-bg-active);
  border: 1px var(--c-danger) solid;
}

/* Split */

.arco-split-trigger-icon-wrapper {
  background-color: var(--c-border);
}

/* Tooltip */

.arco-tooltip-content {
  --at-apply: bg-base text-base text-sm rounded border border-base shadow;
  box-shadow: 0 6px 30px #0000001a;
}

.arco-trigger-arrow {
  --at-apply: hidden;
}
