/* Modal */

.arco-modal {
  background-color: var(--c-bg-base);
}

/* Divider */

.arco-divider-horizontal {
  border-color: var(--c-border);
}

/* Card */

.arco-card {
  background-color: var(--c-bg-base);
  border-color: var(--c-border);
}

.arco-card-header {
  border-bottom-color: var(--c-border);
}

/* Table */

.arco-table-th {
  background-color: var(--c-bg-base);
}

.arco-table-td {
  background-color: var(--c-bg-base);
}
