.bytemd {
  background-color: transparent;
  border-color: var(--c-border);
  color: var(--c-text-base);
  height: 650px;
}

.bytemd-toolbar {
  background-color: transparent;
  border-bottom-color: var(--c-border);
}

.bytemd-toolbar-icon:hover {
  background-color: var(--c-bg-selection);
}

.bytemd-split .bytemd-preview {
  border-left-color: var(--c-border);
}

.bytemd-status {
  border-top-color: var(--c-border);
}

.bytemd-dropdown {
  background-color: var(--c-bg-base);
  color: var(--c-text-base);
}

.bytemd-dropdown-item:hover {
  background-color: var(--c-bg-active);
}

.markdown-body blockquote {
  color: var(--text-base);
}

.markdown-body pre {
  color: var(--text-base);
}

.tippy-box[data-theme~='light-border'] { 
  background-color: var(--c-bg-base);
  border-color: var(--c-border);
}

.CodeMirror {
  background-color: transparent;
  color: var(--color-text-2);
}

.markdown-body {
  background-color: transparent;
  color: var(--color-text-2);
  font-size: 14px;
}

.cm-s-default .cm-header {
  color: var(--color-text-2);
}

.cm-s-default .cm-comment {
  color: var(--color-text-2);
}

.cm-s-default .cm-quote {
  color: var(--color-text-2);
}

.cm-s-default .cm-variable-2 {
  color: var(--color-text-2);
}

.cm-s-default .cm-variable-3, .cm-s-default .cm-type {
  color: var(--color-text-2);
}

.cm-s-default .cm-keyword {
  color: var(--color-text-2);
}

.markdown-body h1, 
.markdown-body h2,
.markdown-body h3, 
.markdown-body h4, 
.markdown-body h5, 
.markdown-body h6 {
  border-bottom: none;
}

.markdown-body blockquote {
  border-left-color: var(--c-primary-light);
}

.markdown-body .highlight pre, .markdown-body pre {
  background-color: var(--c-bg-code);
}

.CodeMirror-cursor {
  border-left-color: var(--color-text-2);
}

ol, ul, menu {
  list-style: disc;
}

ol ol, ul ul, menu menu {
  list-style: circle;
}

ol ol ol, ul ul ul, menu menu menu {
  list-style: square;
}

.hljs.language-elm {
  color: var(--c-text-base);
}

.language-java.hljs {
  color: var(--c-text-base);
}

