/* Dark */

.ͼo {
  background-color: var(--c-bg-base);
}

.ͼo .cm-gutters {
  background-color: var(--c-bg-active);
  color: var(--c-text-base);
}

.ͼo .cm-activeLineGutter {
  background-color: var(--c-bg-selection);
}

.ͼo .cm-activeLine {
  background-color: var(--c-bg-active);
}

/* Light */

.ͼ61 {
  background-color: var(--c-bg-base);
}

.ͼ61 .cm-gutters {
  background-color: var(--c-bg-active);
  color: var(--c-text-base);
}

.ͼ61 .cm-activeLineGutter {
  background-color: var(--c-bg-selection);
}

.ͼ61 .cm-activeLine {
  background-color: var(--c-bg-active);
}

.ͼ2 .cm-gutters {
  border-right-color: var(--c-border);
}

.ͼ1.cm-focused {
  outline: none;
}
